<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Machine Learning App</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <header>
        <h1>LAB 8 - MACHINE LEARNINNG</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/baitapnhenhang">Bài tập Nhẹ Nhàng</a></li>
            <li><a href="/baitapnangcao">Bài tập Nâng Cao</a></li>
            <li><a href="/baitapvandung">Bài tập Vận Dụng</a></li>
            <li><a href="/baitapvenha">Bài tập Về Nhà</a></li>
        </ul>
    </nav>

</body>
</html>
